<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        <!-- Имя автора -->
                                        {{ author_profile.get_full_name}}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         {{username}}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков:  {{ author_profile.follower.count }} <br />
                                            Подписан: {{ author_profile.following.count }}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{posts.count}}
                                            </div>
                                    </li>
                            </ul>
                        {% if my_profile and  my_profile != author_profile%}
                                <li class="list-group-item">
                                        {% if following %}
                                        <a class="btn btn-lg btn-light" 
                                                href="{% url 'profile_unfollow' username %}" role="button"> 
                                                Отписаться 
                                        </a> 
                                        {% else %}
                                        <a class="btn btn-lg btn-primary" 
                                                href="{% url 'profile_follow' username %}" role="button">
                                        Подписаться 
                                        </a>
                                        {% endif %}
                                </li>
                        {% endif %}  

                    </div>
            </div>

            <div class="col-md-9">                

                <!-- Начало блока с отдельным постом -->
                {% for post in posts %} 
                
                         <!-- Вот он, новый include! -->
                        {% include "post_item.html" with post=post %}

                <!-- Конец блока с отдельным постом -->
                {% endfor %} 

                <!-- Остальные посты -->  

                {% if page.has_other_pages %}
                        {% include "paginator.html" with items=page paginator=paginator%}
                {% endif %}
                ****
     </div>
    </div>
{% endblock %}
</main>
</body>
</html>